<%- include('header') -%>



<h1 style="text-align: center; margin-top: 10px; text-transform: capitalize;"><%=data.title%></h1>
<div class="container">
    <p style="margin-top: 1.4rem; text-transform: capitalize;"><%=data.content%></p>
</div>

<%- include('footer') -%>